---
title: Outdoor Climbing - Pep Boys
description: Day out at Pep Boys on Salos Roof
date: '2025-2-23'
categories:
  - climbing
published: true
---

# Climbing

Met up with Mark, JM, and Josh in Chattanooga, specifically at Pep Boys, immediately hoped on Pep Boys and sent after an hour or so.
Salos Roof is a v9 roof with a touch of a highball nature. The top out was slightly wet, but the climb in general was spectacular!

TBA - Will add a link to the send video soon