---
title: Climbing Training
description: Casual climbing training day with a little bit of tension boarding
date: '2025-2-20'
categories:
  - climbing
  - tension board
published: true
---

# Climbing Gym

*New set on the slab wall

Flashed all the climbs, went up to the tension board and climbed easy-moderate classics, v4-v8
