---
title: Row Day
description: Row Day
date: '2025-2-19'
categories:
  - row
  - back day
  - gym
  - climbing
published: true
---

**Pre-training notes**
Left pec is really sore, right tricep is oddly sore(?huh? from what), and my right quad is still hurting, probably the same amount of pain on driving force as before 3/10 pain level

# Gym - Row Day

## Rows

    TODO!